form{
    width: 100%;
}

label{
    font-weight: bold;
    text-transform: uppercase;
}

select{
    width: 100%;
    border: 2px solid #ffffff;
    border-radius: 1rem;
    background-color: transparent;
    padding: 1rem;
    color: #FFF;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

option{
    color: black;
}

input[type="submit"]{
    background-color: var(--primary);
    border: none;
    width: 100%;
    padding: 1rem;
    color: #FFF;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2rem;
    border-radius: 1rem;
    text-transform: uppercase;
    cursor: pointer;
}